
/* Your CSS Code here. */
 table { border-collapse: collapse; width: 100%; max-width: 720px; margin: 24px auto; }
    thead th { background: #f2f2f2; }
    th, td { border: 1px solid #ddd; padding: 8px 10px; text-align: center; }
    td:first-child { text-align: left; }